#second{
  background-color: #212529;
  height: 300px;
}
#secondin{
  padding-top: 100px;
}

.card{
  width: 18rem;
  margin-bottom: 50px;
}

#firstcard{
  align-items: center;
  
  margin-top: 80px;
}

#cardhalf{
  height: 150px;
  background-color: #DEE1E6;
}
.sechalf{
  padding-top: 50px;
}
.card-body{
  padding-top: 20px;
}
#btm{
  background-color: #212529;
  height: 100px;
}
.title{
  font-size: 55px;
}

